{% extends "layout.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link href="static/css/image.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="static/img/tab_logo.png" />
    <style>
      body {
        font-family: "Space Grotesk", sans-serif !important;
        background-color: #fcfbf9;
        color: #fcfbf9;
      }

      
    </style>
  </head>

  <body>
    <main class="d-flex align-items-center justify-content-center vh-100">
      <div
        class="container shadow-lg p-5 rounded"
        style="
          max-width: 1000px;
          min-height: calc(60vh - 60px);
          width: 100%;
          padding: 4rem;
          box-shadow: 0 4px 10px rgb(0, 0, 0) !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #fcfbf9;
          position: relative;
          overflow: hidden;
        "
      >
        <!-- Title Section -->
        <div class="text-center mb-4">
          <h1>Smart Question Answering System</h1>
        </div>

        <!-- Answer Section (Initially Hidden) -->
        <!-- Chat Container -->
         {% if chat_history %}
        <div class="chat-container" id="chatContainer">
          {% for que, answer in chat_history %}
              <div class="user-message">
                  <p class="question-text">{{ que }}</p>
              </div>
              <div class="bot-message">
                  <p class="answer-text">{{ answer }}</p>
              </div>
          {% endfor %}
      </div>
      {% endif %}
        <!-- Form Section -->
        <form action="" method="post" >
          <div class="mb-4">
            <input
              type="text"
              class="form-control form-control-lg"
              id="questionInput"
              name="que"
              placeholder="Type your question..."
              value="{{ que }}"
            />
          </div>

          <div class="button-right">
            <button id="predict" type="submit" class="custom-btn btn-5">
              <span>Get Answer</span>
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="../static/js/qa.js"></script>
  </body>
</html>

{% endblock %}
