{% extends "layout.html" %}
{% block content %}
<!-- Custom styles for this template-->
<link href="static/css/upload.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<div class="frame">
	<div class="center user">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>
		
		<form class="user" action="" method="post" enctype="multipart/form-data">
		<div class="dropzone mb-4 ml-4">
			<!-- <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" /> -->
			<input type="file" class="upload-input form-control" name="doc"/>
		</div>

		<button type="submit" class="btn ml-1" name="uploadbutton">Upload file</button>
		</form>
		<div class="text-center text-danger">
			{{ file }}
		</div>

    <!-- Display error message -->
    {% if error %}
        <div style="color: red;">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}


	</div>	
</div>

<!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->

{% endblock %}
